task_covisionlab.pdf
.venv

network/checkpoints/*
network/history/*

notebooks/covision_task.ipynb

dataloader/__pycache__
dataloader/__pycache__/*

trainer/__pycache__
trainer/__pycache__/*

__pycache__
__pycache__/*

*.py[cod]
*$py.class